.<!document html>
<html>
<head> 
	<title>Wishlist </title>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link href="stylesheets/bootstrap.min.css" rel="stylesheet"/>
	<link href="stylesheets/bootstrap-theme.min.css" rel="stylesheet"/>
	<link href="stylesheets/home.css" rel="stylesheet"/>
	<link href="intro-master/introjs.css" rel="stylesheet"/>
	
	<link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">
	
	<script src="intro/intro.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/public/stylesheets/bootstrap.min.js"></script> -->
	
</head>

<body>
	<div class = "jumbotron app-name page-header header">
		<h1> -- Air BB Universal -- </h1>
		<h3 data-step="1" data-intro="You are currently in the Everyday Adventures section. You can select any tile below to show activties in that category."></h3>
	</div>



	

	<!-- WHERE THE PICTURES START -->
	
			{{#each universalAirBB}}

			<div class = "col-xs-6 col-md-6" >
				<a id="homeExpanded{{@index}}" > 
				<!-- <a href="homeExpand">-->
				<div class = "thumbnail img-thumbnail  module mid" style="background: 
    				linear-gradient(
      					rgba(0, 0, 0, 0.3),
      					rgba(0, 0, 0, 0.3)),
     				url({{category_pic}});
     				background-size: cover" >
					<div class = "caption text-center">
						<h4> {{category}} </h4>
						<h5> {{price}} </h5>
					</div>

				</div> 
				</a>
			</div>
			{{/each}}
			
	
<br><br>
	

	<!-- 	FOOTER 		-->
  <h3 data-step="3" data-intro="Use the bottom menue to take you Home, to your Memories, or your Bucketlist at anytime.">
	<nav class = "footer nav navbar-default" >
		<div class = "container-fluid container2">
			<li> <a href ="home" class = "col-xs-4"> Home <span class = "sr-only"> </span></a> </li>
		</div>
	</nav>
</h3>
	<script src="javascripts/button_interactions/home_interaction_air.js"></script>
  <script src="intro-master/intro.js"></script>
</body>
</html>